.MainChat
  .MainChat__groupinfo
    .MainChat__groupinfo__name
      = @group.name
      .MainChat__groupinfo__members
        Member:aaaaaa
    = link_to "#", class: "MainChat__groupinfo__edit" do
      Edit
  .MainChat__showmessage
    = render partial: "message", collection: @messages
  .MainChat__typeform
    = form_with model: [@group, @message], local: true, class: "MainChat__format" do |form|
      .MainChat__textbox
        = form.text_field :body, placeholder: "type a message", class: "MainChat__textbox__body"
        = form.label :image ,class: "MainChat__textbox__body--image" do
          = icon('far', 'image')
          = form.file_field :image, class: "MainChat__textbox__body--file"
      = form.submit "Send", class: "MainChat__format__btm"
