.SideBar
  .SideBar__userinfo
    %h3.SideBar__userinfo__text
      = current_user.name
    .SideBar__userinfo__edit
      = link_to new_group_path, class: "SideBar__userinfo__edit" do
        = icon('fas','edit', class: "SideBar__userinfo__edit--icon")
        %span<>
      = link_to edit_user_path(current_user), class: "SideBar__userinfo__edit" do
        = icon('fas','cog', class: "SideBar__userinfo__edit--icon")
        %span<>
  .SideBar__grouplist
    %ul
      %li.SideBar__grouplist__list<>
        .SideBar__grouplist__list__name
          <グループリスト>
        .SideBar__grouplist__list__latest
          メッセージ
      %li.SideBar__grouplist__list<>
        .SideBar__grouplist__list__name
          <グループリスト>
        .SideBar__grouplist__list__latest
          メッセージ