.SideBar
  .SideBar__userinfo
    %h3.SideBar__userinfo__text
      = current_user.name
    .SideBar__userinfo__edit
      = link_to new_group_path, class: "SideBar__userinfo__edit" do
        = icon('fas','edit', class: "SideBar__userinfo__edit--icon")
        %span<>
      = link_to edit_user_path(current_user), class: "SideBar__userinfo__edit" do
        = icon('fas','cog', class: "SideBar__userinfo__edit--icon")
        %span<>
  .SideBar__grouplist
    %ul
      - current_user.groups.each do |usergroup|
        %li.SideBar__grouplist__list<>
          = link_to group_messages_path(usergroup), class: "SideBar__grouplist__list" do
            .SideBar__grouplist__list__name
              = usergroup.name
            .SideBar__grouplist__list__latest
              = usergroup.show_last_message